<table class="table table-responsive">
  <th>
    <tr>
      <td>Layout</td>
      <td>Formato</td>
      <td>Usuario</td>
      <td>Mensaje</td>
    </tr>
  </th>
  <tbody>
  <div>
    <% @bitacora.each do |datos| %>
        <tr>
          <td><%= datos.Id_Lay %></td>
          <td><%= datos.Id_Formato %></td>
          <td><%= datos.Id_Usuario %></td>
          <td><%= datos.mensaje %></td>
        </tr>
    <% end %>
  </div>

  </tbody>
</table>
