<!DOCTYPE html>
<html>
<head>
  <title>LogeNew</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
        <li>
          <p class='navbar-text'>Bienvenido: <%= current_login.email %>.</p>
          <p class='navbar-text'><%= current_login.nom %>.</p>
        </li>
        <li>
          <p class='navbar-text'><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></p>
        </li>
    <% else %>
        <li><p class='navbar-text'><%= link_to "Crea una cuenta", new_user_registration_path %></p></li>

        <li><p class='navbar-text'><%= link_to "Logueate", new_user_session_path %></p></li>
    <% end %>
  </ul>
</div>

<%= yield %>

</body>
</html>
